                /*Téléchargement de la police Raleway*/
                
                @font-face {
                    font-family: 'Raleway';
                    src: url('static/Raleway-Black.ttf'), url('static/Raleway-BlackItalic.ttf'), url('Raleway-Italic-VariableFont_wght.ttf'),
                }
                
                * {
                    font-family: 'Raleway', Arial, Verdana, sans-serif;
                }
                
                body {
                    margin: 20px 15px;
                    padding: 10px;
                }
                /*General*/
                
                * {
                    margin: 0;
                    padding: 0;
                }
                
                #container {
                    margin-left: 40px;
                }
                
                header {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    padding: 20px 0px;
                    align-items: center;
                }
                
                nav a {
                    font-size: 0.9em;
                    color: black;
                    font-style: normal;
                }
                
                nav {
                    display: flex;
                    align-items: center;
                }
                
                a:hover {
                    text-decoration: #0065FC;
                    color: #0065FC;
                }
                
                .hebergements-activites a:hover {
                    border-top: 3px solid #0065FC;
                }
                
                .titre_principal {
                    width: 40%;
                }
                
                h1 {
                    font-size: large;
                }
                
                .titre_enplein {
                    font-size: small;
                }
                
                header nav a {
                    margin-left: 15px;
                    padding: 10px;
                }
                
                .fa-map-marker-alt {
                    position: absolute;
                    color: black;
                    transform: translate(15px, 10px)
                }
                
                .type-search {
                    padding-left: 5px;
                    font-weight: bold;
                    color: black;
                }
                
                #recherche {
                    display: flex;
                    height: 40px;
                    margin-top: 15px;
                    margin-bottom: 15px;
                }
                
                .rechercher {
                    border-bottom-right-radius: 10px;
                    border-top-right-radius: 10px;
                    background-color: #0065fc;
                    width: 90px;
                    height: 40px;
                    border: none;
                    color: white;
                    font-weight: bold;
                    text-align: center;
                }
                
                .logo_map {
                    position: relative;
                    height: 40px;
                    background-color: #F2F2F2;
                    width: 40px;
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                    justify-content: center;
                    align-items: center;
                }
                
                #filtres-section {
                    display: flex;
                    align-items: center;
                    margin: 32px 0px 41px 0px;
                }
                
                .filtre-bouton {
                    display: flex;
                    flex-direction: row;
                    position: relative;
                    margin-left: 25px;
                    flex-wrap: wrap;
                }
                
                .circle-icon-filter {
                    width: 50px;
                    height: 50px;
                    background-color: #DEEBFF;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                }
                
                .filtre {
                    display: flex;
                }
                
                .filtre span {
                    height: 48px;
                    display: flex;
                    align-items: center;
                    border: 2px solid #d9d9d9;
                    padding: 0px 25px 0px 60px;
                    border-radius: 25px;
                    font-weight: bold;
                }
                
                .titre_filtres p {
                    font-weight: bold;
                }
                
                .blue-icon {
                    color: #0065FC;
                    font-size: 1.5em;
                }
                
                h3 {
                    font-size: small;
                    text-align: justify;
                }
                
                .information {
                    font-weight: normal;
                    font-size: medium;
                }
                
                .filtre-bouton:hover {
                    text-decoration: #0065FC;
                    color: #0065FC;
                }
                
                .titre_enplein {
                    margin: 0px;
                    font-size: large;
                    margin-bottom: 21px;
                }
                /*Hébergements à Marseille*/
                
                section {
                    display: flex;
                    justify-content: center;
                    margin: 15px 5px;
                    width: 1350px;
                }
                
                #hebergement {
                    display: flex;
                }
                
                article {
                    background-color: #f2f2f2;
                    justify-content: space-between;
                    display: flex;
                    flex-direction: column;
                    margin-right: 10px;
                    border-radius: 20px;
                    padding: 44px 36px 44px 36px;
                }
                
                article,
                h3 {
                    font-size: large;
                    font-weight: bold;
                }
                
                article,
                span {
                    font-weight: bold;
                    font-size: medium;
                }
                
                article,
                p {
                    font-weight: normal;
                    font-size: small;
                }
                
                .container_1 {
                    text-align: center;
                    margin: 20px;
                }
                
                .hebergement_contenu {
                    display: flex;
                    margin: auto;
                }
                
                .box {
                    border: 3px solid white;
                    border-radius: 20px;
                    padding: 5px 5px 10px 5px;
                    background-color: white;
                    max-width: 250px;
                    margin-bottom: 28px;
                    height: 210px;
                }
                
                a {
                    text-decoration: none;
                }
                
                a :hover {
                    color: blue;
                }
                
                h2 .titre {
                    margin-left: 30px;
                    margin-bottom: 20px;
                    font-size: x-large;
                }
                
                .titre_hebergements_a_marseille {
                    margin-left: 30px;
                    margin-bottom: 20px;
                    font-size: x-large;
                }
                
                .hebergement_image {
                    padding-left: 5px;
                    padding-right: 5px;
                }
                
                .photo_hebergements {
                    width: 250px;
                    height: 135px;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    object-fit: cover;
                }
                
                .titre_contenu {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    padding-left: 5px;
                    padding-top: 11px;
                    padding-bottom: 1px;
                    color: black;
                }
                
                p {
                    text-align: start;
                }
                
                .hebergement_notation {
                    padding-bottom: 11px;
                }
                
                article .notation {
                    text-align: start;
                    margin-bottom: 10px;
                }
                /*Les plus populaires*/
                
                aside {
                    background-color: #f2f2f2;
                    display: flex;
                    flex-direction: column;
                    border-radius: 20px;
                    padding: 15px 15px 25px 15px;
                    justify-content: space-between;
                    max-width: 350px;
                    margin-left: 25px;
                }
                
                .box_populaire_carte {
                    border: 3px solid white;
                    border-radius: 20px;
                    display: flex;
                    background-color: white;
                    max-height: 143px;
                    margin: 20px 1px 1px 3px;
                }
                
                .photo_populaire {
                    width: 125px;
                    height: 132px;
                    border-top-left-radius: 20px;
                    border-bottom-left-radius: 20px;
                    padding: 6px;
                    object-fit: cover;
                }
                
                .notation {
                    margin-left: 10px;
                    padding: bottom 11px;
                    color: #0065FC;
                    align-items: baseline;
                    margin-top: 10px;
                }
                
                .far.fa-star {
                    color: grey;
                }
                
                .titre_populaires {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    padding-top: 30px;
                }
                
                aside h3 {
                    font-size: medium;
                    font-weight: bold;
                    padding: 6px;
                }
                
                aside span {
                    font-weight: normal;
                    font-size: smaller;
                    padding: 6px;
                }
                
                .titre_populaire_contenu {
                    display: flex;
                    flex-direction: column;
                    padding-left: 1px;
                    padding-top: 11px;
                    padding-bottom: 11px;
                    color: black;
                    margin-bottom: 1px;
                }
                /*activite a marseille*/
                
                #activites_a_marseille {
                    background-color: white;
                    display: flex;
                    flex-wrap: wrap;
                    margin-bottom: 10px;
                    max-width: 1350px;
                    padding-bottom: 20px;
                    align-items: center;
                }
                
                .titre_activites_principale {
                    font-size: x-large;
                    padding-bottom: 25px;
                }
                
                .titre_activite {
                    font-size: x-small;
                    padding-bottom: 15px;
                    color: black;
                }
                
                .activites_container {
                    display: flex;
                    justify-content: space-between;
                    margin: 20px;
                }
                
                .activite1,
                .activite3 {
                    box-shadow: 0px 0px 10px #d9d9d9;
                    border-radius: 10px;
                    margin-bottom: 20px;
                    height: 450px;
                }
                
                .activite2,
                .activite4 {
                    height: 450px;
                    margin: 0px 25px 0px 25px;
                }
                
                .activite2_1,
                .activite2_2,
                .activite4_1,
                .activite4_2 {
                    border-radius: 10px;
                    box-shadow: 0px 0px 10px #d9d9d9;
                    margin-bottom: 30px;
                }
                
                .photo_activite1,
                .photo_activite2_1,
                .photo_activite2_2,
                .photo_activite3,
                .photo_activite4_1,
                .photo_activite4_2 {
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                }
                
                .photo_activite11,
                .photo_activite2_11,
                .photo_activite2_22,
                .photo_activite33,
                .photo_activite4_11,
                .photo_activite4_22 {
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    object-fit: cover;
                    margin-bottom: 20px;
                }
                
                .photo_activite33 {
                    height: 390px;
                    width: 310px;
                }
                
                .photo_activite11 {
                    height: 390px;
                    width: 310px;
                }
                
                .photo_activite2_11 {
                    width: 310px;
                    height: 190px;
                }
                
                .photo_activite2_22 {
                    width: 310px;
                    height: 120px;
                }
                
                .photo_activite4_11 {
                    width: 310px;
                    height: 170px;
                }
                
                .photo_activite4_22 {
                    width: 310px;
                    height: 140px;
                }
                /*footer*/
                
                footer {
                    padding-top: 30px;
                    background-color: #F2F2F2;
                    height: 150px;
                    margin-top: 10px;
                    width: 1400px;
                    margin-left: 1px;
                    justify-content: start;
                }
                
                .les_titre {
                    display: flex;
                    width: 900px;
                    justify-content: space-between;
                    padding-left: 40px;
                }
                
                .titre3 {
                    padding-bottom: 20px;
                }
                
                h5 {
                    font-style: normal;
                }
                /*mobile*/
                
                @media screen and (max-width :768px) {
                    display: grid;
                    grid-template-columns: auto;
                }